@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

button {
  cursor: pointer;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.result-and-operations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: 15px;
}

.exercise-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 154px;
  height: 154px;
  margin: 7px;
  background-color: #F0E68C;
  border-radius: 50%;
}

.exercise-result span {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.55);
  line-height: 24px;
  position: relative;
  top: 10px;
}

.exercise-result span:first-child {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}

.operations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
  position: relative;
  bottom: 25px;
}

.operation-button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background-color: #FFA500;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}

.operation-button:hover {
  background-color: #D2691E;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.operation-button:first-child {
  right: 57px;
  top: 16px;
}

.operation-button:nth-child(2) {
  right: 14px;
}

.operation-button:last-child {
  right: 17px;
}

.chosen {
  background-color: #D2691E;
  border: 2px solid #000;
}

.exercise-button {
  width: 115px;
  height: 34px;
  background-color: #F4A460;
  border: 2px solid #F4A460;
  border-radius: 10px;
  margin: 50px;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.exercise-button:hover {
  border-color: #D2691E;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.difficulties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  position: relative;
  top: 60px;
}

.difficulty-button {
  width: 80px;
  height: 36px;
  background-color: #FF7F50;
  border-radius: 3px;
  border: 1px solid #FF7F50;
  font-size: 16px;
}

.difficulty-button:hover {
  background-color: #D2691E;
}
/*# sourceMappingURL=styles.css.map */